

nav {
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline-block;
    padding: 30px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(112, 108, 108);
}

.container {
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 20px;
    margin-right: 5000px;
    text-align: center;
    color: black;
}

input[type=email],[type=text],textarea,input[type=date] {
    width: 350px;
    height: 55px;
    margin-left: 120px;
    margin-top: 40px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    display: flex;
    background: none;
    color: black;
}

input[type=submit]{
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 35px;
    margin-top: 60px;
    color: white;
    background-color: rgb(117, 115, 115);
    margin-left: 650px;

}

input[type=submit]:hover {
    background-color: rgb(83, 82, 82);
    cursor: pointer;
}


h2{
    margin-left: 650px;
    margin-top: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(61, 61, 61);
    letter-spacing: 4px;
}

select   {
    width: 350px;
    height: 55px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    margin-top: 60px;
    margin-left: 120px;
}




.input-field{
    display: inline-flex;
    justify-content: center;
}

#primeironome {
    text-transform: uppercase;
}
#nomecompleto {
    text-transform: capitalize;
}


