<section>
    <h1>Generate JSON schema <br> from JSON</h1>
    <div class="flex">
        <div class="item items">
            <img src="https://jsonschema.net/assets/svg/icon-edit.svg" alt="" srcset="">
            <p>fully editable schema</p>
        </div>

        <div class="item items">
            <img src="https://jsonschema.net/assets/svg/icon-format.svg" alt="" srcset="">
            <p>choose from JSON, YAML, XML</p>
        </div>


        <div class="item items">
            <img src="https://jsonschema.net/assets/svg/icon-api.svg" alt="" srcset="">
            <p>API integration available</p>
        </div>


    </div>

    <nav>
        <a href="">GitHub</a>
        <a href="">Contact</a>
        <a href="">Privacy Police</a>
        <a href="">Cookie Policy</a>
    </nav>
    <app-section-form [nome]="nomedocurso"></app-section-form>
</section>