
<button style="width: 200px;"
[style.background] = "ativo ? 'blue' : 'gray'"
[style.color] = "ativo ? 'white' : 'black'"
[style.fontWeigth] = "ativo ? 'bold' : 'normal'"
[style.fontSize] = "tamanhofonte + 'px'"
(click)="mudaativo()"
>
    



    click
</button>

<button style="width: 200px;"

[ngStyle]="{
    'background' : (ativo ? 'blue' : 'gray'),
    'color' : (ativo ? 'white' : 'black'),
    'fontWeigth' : (ativo ? 'bold' : 'normal'),
    'fontSize' : (tamanhofonte + 'px')
}
    " 

    (click)="mudaativo()"
    >
    



    click
</button>